{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Certificado</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="preenchimentoDadosCertificado">
    <div class="container mt-">
        <form method="post" action="{% url 'index' %}" class="card shadow arround">
            {% csrf_token %}

            <div class="titulosCards mb-4">
                <h3 class="text-body-secondary">Gerar Certificado</h3>
            </div>

            <label for="nomeAluno" class="form-label">Nome do aluno:</label>
            <input type="text" class="form-control mb-2" id="nomeAluno" name="nomeAluno" placeholder="Digite o nome do aluno">

            

            <div class="row g-3 mb-2">
                <div class="col">
                    <label for="cpfAluno" class="form-label">CPF do aluno:</label>
                    <input type="text" name="cpfAluno" class="form-control" id="cpfAluno" placeholder="Digite o CPF do aluno" oninput="formataCPF(this)" maxlength="14"> <!-- 14 -->
                </div>
                <div class="col">
                    <label for="rgAluno" class="form-label">RG do aluno:</label>
                    <input type="text" name="rgAluno" class="form-control" id="rgAluno" oninput="formataRG(this)" placeholder="Digite o RG do aluno" maxlength="11">
                </div>
            </div>

            <div class="row g-3">
                <div class="col">
                    <label for="inicioCurso" class="form-label">Inicio do curso:</label>
                    <input type="date" name="inicioCurso" class="form-control" id="inicioCurso" placeholder="dd/mm/aaaa">
                </div>
                <div class="col">
                    <label for="fimCurso" class="form-label">Fim do curso:</label>
                    <input type="date" name="fimCurso" class="form-control" id="fimCurso" placeholder="dd/mm/aaaa">
                </div>
            </div>

            <label for="nomeCurso" class="form-label">Curso:</label>
            <input type="text" name="nomeCurso" class="form-control mb-2" id="nomeCurso" placeholder="Digite o nome do curso">

            <label for="cargaHoraria" class="form-label">Carga horária (horas):</label>
            <input type="number" name="cargaHoraria" class="form-control mb-2" id="cargaHoraria" placeholder="Carga horária do curso (em horas)">

            <div class="row g-3 mb-2">
                <div class="col">
                    <label for="instituicaoCurso" class="form-label">Instituição:</label>
                    <input type="text" name="instituicao" class="form-control" id="instituicaoCurso" placeholder="Instituição do curso">
                </div>
                <div class="col">
                    <label for="responsavelCurso" class="form-label">Diretor:</label>
                    <input type="text" name="diretor" class="form-control" id="responsavelCurso" placeholder="Digite o nome do diretor do curso">
                </div>
            </div>

            <button class="btn btn-success botaoCadastrar mt-3" type="submit">Cadastrar</button>
        </form>
    </div>
</body>

<script src="{% static 'js/scripts.js' %}"></script>
</html>
